@model IEnumerable<TourPromotionalVideos>

@{
    ViewData["Title"] = "Manage Promotional Videos";
}

<h2 class="text-center">Manage Tour Promotional Videos</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add New Video</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Thumbnail</th>
            <th>Video </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>@video.VideoTitle</td>
                <td>
                    <img src="@video.ThumbnailURL" alt="Thumbnail" width="80">
                </td>
                <td>
                    <a href="@Url.Content(video.VideoFile)" target="_blank">Watch</a>
                </td>

                <td>
                    <a href="@Url.Action("Edit", new { id = video.VideoID })" class="btn btn-primary">Edit</a>
                    <form asp-controller="TourPromotionalVideo" asp-action="Delete" asp-route-id="@video.VideoID"method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                


                </td>
            </tr>
        }
    </tbody>
</table>
